.main
  = render "shared/side_bar"
  .chat
    .chat_header
      .left-header
        .left-header_title
          sample
        %ul.left-header_members
          Member :
          %li.member
            omi  kaoru
      .right-header_button
        Edit
    .messages    
      = render @messages     
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form_message', placeholder: 'type a message' 
        .form_mask
          = f.label :image, class: 'form_mask_image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'  
        = f.submit 'Send', class: 'form_submit'    